img{
  width: 20%;
  @media(max-width: 767px){
    width: 50%;
  }
}

.Emoji{
  font-size: 24px;
}
.section-about{
  padding-top: 100px;
  padding-bottom: 64px;
    p{
    max-width: 400px;
  }
  .home {
  @include empty-anchor;
  }
  .introduce{
    @media (max-width:767px){

    }
  }
}
.section-portfolio{
  .portfolio-website{
      background: $dark;
      border-radius: 12px;
      border: 2px solid transparent;
      &:hover{
          border: 2px solid $yellow;
      }
  }
  .more{  
          color: $yellow;  
  }
}
