header{
    background: $primary;
    a{
        color:white;
    } 
}
footer{
    color:white;
    .icons{
        img{
            width: 24px;
            height: 24px;
        }
    }
    .contact{
        @include empty-anchor;
    }
}

