header{
    background: $primary;
    a{
        color:white;
    } 
}
footer{
    color:white;
    .icons{
        img{
            width: 24px;
            height: 24px;
        }
    }
    .contact{
        @include empty-anchor;
    }
}
.section-portfolio{
    .portfolio-website{
        background: $dark;
        border-radius: 12px;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid #F2C14E;
        }
    }
    .more{  
            color: #F2C14E;  
    }
}
