@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');


body{
    background: #061E2E;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    a{
        color: white;
    }
}
.font-Azeret{
    font-family: 'Azeret Mono', monospace;
}

h2{
    font-family: 'Azeret Mono', monospace;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 48px;
    padding-top: 48px;
    display: flex;
    justify-content: center;
    a{
        cursor:default;
    }
}
.underline a::after{
    content:" ";
    display:inline-block; 
    width: 50%;
    height: 4px;
    background-color: white;
    vertical-align: middle;

}